@model ViagemImpacta.DTO.Promotion.CreatePromotionDTO
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Promotion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TitlePromotion" class="control-label"></label>
                <input asp-for="TitlePromotion" class="form-control" />
                <span asp-validation-for="TitlePromotion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckIn" class="control-label"></label>
                <input asp-for="CheckIn" class="form-control" />
                <span asp-validation-for="CheckIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOut" class="control-label"></label>
                <input asp-for="CheckOut" class="form-control" />
                <span asp-validation-for="CheckOut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HotelId" class="control-label"></label>
                <input asp-for="HotelId" class ="form-control" asp-items="ViewBag.HotelId"></input>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercentage" class="control-label"></label>
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TotalRoomsAvailable" class="control-label"></label>
                <input asp-for="TotalRoomsAvailable" class="form-control" />
                <span asp-validation-for="TotalRoomsAvailable" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomType" class="control-label"></label>
                <select asp-for="RoomType" class="form-control" asp-items="ViewBag.RoomTypes">
                    <option value="Standard">Standard</option>
                    <option value="Suite">Suíte</option>
                    <option value="Luxo">Luxo</option>
                </select>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
