@model ViagemImpacta.ViewModels.CreateEmpolyeeViewModel
@{
    ViewData["Title"] = "Criar Funcionário";
}

<h1 class="d-flex align-items-center gap-2 mb-4">
    <span class="material-symbols-outlined" style="font-size: 2.5rem">account_box</span>
    Criar Funcionário
</h1>

<form asp-controller="Employees" asp-action="Create" method="post">
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <label asp-for="FirstName" class="form-label d-flex gap-1">
                <span class="material-icons align-middle" title="Nome">person</span> Nome
            </label>
            <input asp-for="FirstName" class="form-control d-flex gap-1" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="LastName" class="form-label d-flex gap-1">
                <span class="material-icons align-middle" title="Sobrenome">badge</span> Sobrenome
            </label>
            <input asp-for="LastName" class="form-control d-flex gap-1" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <label asp-for="Email" class="form-label d-flex gap-1">
                <span class="material-icons align-middle" title="Email">mail</span> Email
            </label>
            <input asp-for="Email" class="form-control d-flex gap-1" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Password" class="form-label d-flex gap-1">
                <span class="material-icons align-middle" title="Senha">lock</span> Senha
            </label>
            <div class="input-group">
                <input asp-for="Password" class="form-control d-flex gap-1" type="password" id="passwordInput" />
                <button type="button" class="btn btn-outline-secondary d-flex align-items-center" tabindex="-1" onclick="togglePasswordVisibility()" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                    <span id="togglePasswordIcon" class="material-symbols-outlined mx-auto">visibility_off</span>
                </button>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6 mb-3">
            <label asp-for="Roles" class="form-label d-flex gap-1">
                <span class="material-icons align-middle" title="Cargo">work</span> Cargo
            </label>
            <select asp-for="Roles" class="form-select">
                <option value="1">Admin</option>
                <option value="2">Atendente</option>
            </select>
            <span asp-validation-for="Roles" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex gap-2">
        <a asp-action="Index" class="btn btn-outline-secondary">Voltar</a>
        <button type="submit" class="btn btn-primary">Criar</button>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('passwordInput');
            var icon = document.getElementById('togglePasswordIcon');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.textContent = 'visibility';
            } else {
                passwordInput.type = 'password';
                icon.textContent = 'visibility_off';
            }
        }
    </script>
}
